.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: fadeInUp 0.8s ease-out;
}

.about-section .content {
    text-align: left;
    z-index: 2;
    animation: slideInRight 0.8s ease-out 0.2s both;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        a {
            animation: scaleIn 0.6s ease-out backwards;

            &:nth-child(1) { animation-delay: 0.4s; }
            &:nth-child(2) { animation-delay: 0.5s; }
            &:nth-child(3) { animation-delay: 0.6s; }
        }

        svg {
            font-size: 1.8em;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2) rotate(5deg);
            }
        }
    }

    .mobile_social_icons {
        display: none;
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.about-section .image-wrapper {
    z-index: 2;
    animation: slideInLeft 0.8s ease-out 0.2s both;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center 15%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(139, 92, 246, 0.5);
        }
    }
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

@media screen {
    @media (max-width: 567px) {
        .nav-left{
            padding-top: 20px;
            float:left;
        }

        .nav-left img {
            height: 35px
        }

        .nav-right {
            float:right;
        }

        .nav-right li {
            padding: 10px 15px;
            list-style:none;
            font-size:13px;
            color:white;
            width: 10%;
        }

        .nav-right ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
        }

        .about {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 12px;
        }
    }

    @media (max-width:768px) {
        .about-section h1 {
            font-size: 4em !important;
            text-align: left;
        }

        .about-section p {
            text-align: left;
            font-size: 1.2em;
        }

        .container {
            display: initial;
        }

        .social_icons {
            display: none !important;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 15px;
            color: white;
    
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            svg {
                font-size: 1.8em;
            }
        }

        .about-section {
            padding-top: 150px;
            display: block;
            padding-left: 0px;
            padding-right: 0px;
            min-height: auto;
        }

        .about-section .content {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
        }

        .about-section .image-wrapper {
            padding-left: 5%;
            width: 100%;
            padding-bottom: 20px;

            img {
                width: 120px;
                height: 120px;
            }
        }
    }

    @media (max-width: 480px) {
        .about-section h1 {
            font-size: 2.5em !important;
            text-align: center;
        }

        .about-section p {
            text-align: center;
            font-size: 1em;
        }

        .mobile_social_icons {
            justify-content: center;
            gap: 12px;
            padding-top: 15px;
    
            svg {
                font-size: 1.5em;
            }
        }

        .about-section {
            padding-top: 100px;
            min-height: auto;
        }

        .about-section .content {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;

            h1 {
                font-size: 2.5em !important;
            }

            p {
                font-size: 0.95em;
            }
        }

        .about-section .image-wrapper {
            padding-left: 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}